.card{
    border: 2px solid white;
    border-radius: 50px 20px;
    align-items: center;
    width: 25%;
    text-align: center;
    color:black;
    list-style: none;
    flex: 0 0 25%;
}
.card img{
    width: 300px;
    height: auto;
    border: 3px solid white;
    border-radius: 20px;
}
